* {
    margin: 0;
    padding: 0;
    font-family: Hanken Grotesk, Arial;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 650px;
    border-radius: 20px;
}

.left-div {
    color: white;
    background: linear-gradient(
    to top,
    hsl(241, 81%, 54%) 0%,
    hsl(241, 81%, 54%) 70%,
    hsl(252, 100%, 67%) 100%
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
    border-radius: 20px;
}

.feedback-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.feedback-div p {
    text-align: center;
    width: 70%;
    font-size: 15px;
    color: hsl(241, 100%, 89%)
}

.feedback-div h1 {
    font-size: 25px;
}

.circle-div {
    background: linear-gradient(
    to top,
    hsl(241, 81%, 54%) 0%,
    hsl(241, 81%, 54%) 20%,
    hsl(252, 100%, 67%) 100%
    );
    padding: 30px 50px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle-div h1 {
    font-size: 60px;
}

.circle-div p {
    color: hsl(241, 100%, 89%);
}

.your-result {
    font-size: 20px;
    color: hsl(241, 100%, 89%);
}